// style variables
// $font-primary: 'Crete Round', serif;
$font-secondary: 'Montserrat', serif;
// $font-secondary: 'Work Sans', sans-serif;
$font-primary: 'Bebas Neue', cursive;
$h1: 64px;
$h1-lg: 52px;
$h1-md: 42px;
$h2: 42px;
$h2-md: 36px;
$h3: 32px;
$h3-md: 28px;
$h4: 24px;
$h5: 18px;
$h6: 16px;
// $color-primary: #F08E80;
$color-primary: #45ca63;
// $body-background: #fff6ef;
$body-background: #2d2d2d;
$white: #ffffff;
$black: #000000;
$dark: #2d2d2d;
$gray: #505050;
$light: #FAFAFA;

