// banner style
.banner {
  .wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: .13;
  }
}

// about style
.image-grid-2 > span {
  margin-top: 50px !important;
  @include desktop {
    margin-top: 0 !important;
  }
}
.image-grid-3 > span {
  margin-top: 10px !important;
  @include desktop {
    margin-top: 0 !important;
  }
}

// post card style
.card {
  &.post-card {
    padding: 0 30px;
    @include mobile {
      padding: 0 10px;
    }
    .card-body {
      padding: 0;
      p {font-size: 18px;}
      a:hover {
        color: inherit;
        .post-title {
          color: $color-primary;
        }
      }
    }
    .post-image {
      z-index: 1;
      margin-bottom: 50px;
      @include mobile {
        margin-bottom: 30px;
      }
      > span {
        overflow: unset !important;
      }
      img {
        transition: .3s;
        filter: grayscale(1);
        object-fit: cover;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: -30px;
        left: -30px;
        width: calc(100% + 60px);
        height: 100%;
        background-color: rgba($white,.5);
        z-index: -1;
        pointer-events: none;
        border-radius: 4px;
        transition: 0.3s;
        @include mobile {
          bottom: -10px;
          left: -10px;
          width: calc(100% + 20px);
        }
      }
    }
    &:hover .post-image {
      img {
        transform: translateY(-5px);
        filter: grayscale(0);
        @include mobile {
          transform: translateY(0px);
        }
      }
      &::before {
        background-color: $white;
      }
    }
  }
}
.post-title, .post-title-list {
  color: $color-primary;
  transition: 0.3s;
}

.post-title-list:hover {
  color: $gray;
  transition: 0.3s;
}

// card-meta
.card-meta {
  > li {
    line-height: 1;
    vertical-align: middle;
    i {
      vertical-align: text-bottom;
    }
  }
  a {
    color: $gray;
  }
  .list-inline-item:not(:last-child) {
    margin-right: 1rem;
    @include tablet {
      margin-right: .7rem;
    }
  }

  // card author style
  .card-meta-author {
    display: inline-block;
    span {transition: 0.2s}
    &:hover {
      color: $gray;
      span {
        color: $color-primary !important;
      }
    }
    img {
      border-radius: 4px;
    }
    span {
      vertical-align: middle;
    }
  }

  // card meta style
  .card-meta-tag {
    .list-inline-item:not(:last-child) {
      margin-right: .5rem;
    }
    a {
      background-color:$gray;
      //background-color: rgba($color-primary, .1);
      color: $white;
      padding: 6px 10px;
      border-radius: 2px;
      transition: 0.15s;
      text-transform: capitalize;
      &:hover {
        background-color: $color-primary;
        color: $white !important;
      }
    }
  }
}

// single blog post style
.post-deatils-image {
  > span {
    width: 100%;
  }
}
.post-share-block {
  width: 174px;
  @include desktop {
    width: 100%;
  }
}

.post-content p {
  font-size: 18px;
}

.post-content-block {
  width: calc(83.33333334% - 174px);
  @include desktop {
    width: 100%;
  }
}

.author-post-count{
  color: $color-primary;
}

.single-post-similer,
.disqus-comment,
.single-post-author {
  margin-top: 100px;
  margin-bottom: 50px;
}

.tag-category-box:hover,
.tag-category-box span:hover {
  color: $dark;
}

.post-meta-tag {
  margin-top: 7rem!important;
  a {
    display: inline-block;
    background-color: $gray;
    color: $white;
    padding: 6px 13px;
    font-size: 15px;
    @extend .rounded;

    &:hover {
      background-color: $color-primary;
    }
  }
}

.poker-bot-button {
  text-decoration: none !important;
  padding: 11px 28px;
  color: $gray;
  font-weight: bold;
  border: 0;
  transition: 0.2s ease-out;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: $color-primary !important;
  border: 2px solid #ffffff;
  text-align:center;
  display:block;
  top: 25px;
}

.poker-bot-button:hover {   
  transition: 0.2s ease-out;
  background-color: $gray !important; 
  color: #ffffff !important;
}

// archive post block style
.archive-block {
  h2 {
    margin-top: 40px;
    line-height: 1;
    margin-bottom: 35px;
    position: relative;
    padding: 10px 20px !important;
    border-radius: 4px;
    background-color: $gray;
    i {
      position: absolute;
      font-size: 80px;
      opacity: .05;
      top: -27px;
      left: -25px;
    }
  }
  h2:first-child {
    margin-top: 0;
  }
  .archive-post-item {
    font-size: 18px;
    @include tablet {
      font-size: 16px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    span {
      margin: 0 20px;
      @include tablet {
        display: none;
      }
    }
  }
  a:hover {
    text-decoration: underline;
  }
}

// Poker Bot
h2.pokerbot {
  --bg-size: 400%;
  --color-one: hsl(134, 56%, 53%);
  --color-two: hsl(0, 0%, 13%);
  font-size: 100px;
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 15s infinite linear;
}

@media only screen and (max-width: 450px) {
  h2.pokerbot {
    font-size: 70px;
  }
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

// newsletter-block style
.newsletter-blog-single {
  margin-top: 100px;
}

.newsletter-block {
  .input-group-text,
  .form-control {
    background-color: transparent;
    margin: 5px 0px;
    color: $white;
  }
  @media only screen and (min-width: 576px) {
    .form-control {
      background-color: transparent;
      margin: 5px;
    }
  }
  
  .input-group-text {
    padding: 0 1.5rem;
    height: 50px;
    @extend .rounded;
  }
  .form-control {
    &:focus {
      border-color: $color-primary;
      ~.input-group-append {
        .input-group-text {
          border-color: $color-primary;
          background-color: $color-primary;
          color: $white;
        }
      }
    }
  }


  .message p {
    background-color: transparent;
    margin: 0 8px;
    color: $white;

    &.error {
      color: red;
    }

    &.success {
      color: green;
    }  

    &.shakeit
    {
      animation: shake 0.2s ease-in-out .1s 2;
      -webkit-animation: shake 0.2s ease-in-out .1s 2;
    }

}

.hand div
  {
    &.shakeValidation {
    animation: shake 0.2s ease-in-out .1s 2;
    -webkit-animation: shake 0.2s ease-in-out .1s 2;
  }
}


@keyframes shake {
  0% {
    -webkit-transform: translate(4px, 0);
    transform: translate(4px, 0);
  }
  50% {
    -webkit-transform: translate(-4px, 0);
    transform: translate(-4px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}




  ::-webkit-input-placeholder {
    color: rgba($white, .7);
  }
  :-ms-input-placeholder {
    color: rgba($white, .7);
  }
  ::placeholder {
    color: rgba($white, .7);
  }
  button.input-group-text {
    color: $dark;
    background-color: $white;
    &:hover {
      border-color: $color-primary;
      background-color: $color-primary;
      color: $white;
    }
  }
}


table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}